<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Zubio - Discover Gyms and Fitness centers around you</title>
	
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="/static/css/icons.css">

</head>
<body class="login-container" style="background-image: url(/static/img/gym4.jpg);">
	<div class="overlay login-overlay">
		<div class="login-modal">
			<a href="#"><img src="/static/img/zubio-white.png" style="width: 120px"></a>
			<p>Login with any of your social accounts.</p>
			<form>
				<a href="#" class="login-btn facebook"><i class="flaticon-facebook29"></i> Login with Facebook</a>
				<a href="#" class="login-btn google"><i class="flaticon-google2"></i> Login with Google</a>
				<a href="#" class="login-btn twitter"><i class="flaticon-twitter1"></i> Login with Twitter</a>
			</form>
			<p>By signing up, you agree to Zubio's <a href="#" class="underline">Terms of Use</a> and <a href="#" class="underline">Privacy Policy</a>.</p>
		</div>
	</div>
</body>
</html>