{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="sign-head">{% trans "Sign In to India's leading Talent Platform" %}</h1>

{% if socialaccount.providers  %}

<section class="signin-card">
  <img class="tz-logo" src="/static/img/tz-signin.png" width="100" alt="TAKE ZERO">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="forgot-pass secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="primaryAction login-btn" type="submit">{% trans "Sign In" %}</button>
    <p style="text-align:center; margin:-5px auto 20px auto">{% blocktrans with site.name as site_name %}If you don't have a TAKE ZERO Account <a href="{{ signup_url }}">Register Here</a>{% endblocktrans %}</p>
  </form>

  <div class="socialaccount_ballot">
    <p>Login using Social Media Account</p>
    <ul class="socialaccount_providers nav">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
</section>


{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">Register</a> first.{% endblocktrans %}</p>
{% endif %}

{% endblock %}
