{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="signin-card" style="margin:40px auto">
    <i class="navbar-takezero" style="margin-top:30px;"></i>
    <h1 class="sign-head" style="margin-top:10px;">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Forgotten your password?" %}</p>
    <p style="color:green">Enter your registered e-mail address below, <br/>and we'll send you an e-mail allowing you to reset it.</p>
    
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="signin-btn" style="margin-top:5px;" value="{% trans "Reset My Password" %}" />
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
</section>

{% block extra_body %}
    <script>
        document.getElementById('id_email').focus();
    </script>
{% endblock %}
