{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<section class="signin-card" style="margin:40px auto">
    <i class="navbar-takezero" style="margin-top:30px;"></i>
    <h1 class="sign-head" style="margin-top:10px;">{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</section>
{% endblock %}
