<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zubio - Discover Gyms and Fitness centers around you</title>
	
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/profile.css">
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="/static/css/icons.css">

</head>
<body>

	<nav>
		<div class="container">
			<a href="#"><img src="/static/img/zubio-logo.png" style="width: 80px"></a>
			<a class="primary-btn nav-action-btn" title="Sign in" onclick="openModal('login-modal')">Sign In</a>
		</div>
	</nav>

	<div class="profile-banner" style="background-image: url(/static/img/gym4.jpg);"></div>
	
	<article class="profile-header">
		<div class="container">
			<div class="col-md-9 col-sm-8">
				<div class="profile-icon">
					<i class="flaticon-dumbbell21"></i>	
				</div>
				<div class="profile-summary">
					<h1>GOLD Unisex Gym</h1>
					<p><a title="Address" href="#">65, Le Cafe Restaurant and Gym, Near French Colony, Mission Street, Pondicherry.</a></p>
					<div class="overview-box clearfix">
						<div class="col-sm-3">
							<i class="flaticon-event7"></i>
							<p>Open on All Days</p>
						</div>
						<div class="col-sm-3">
							<i class="flaticon-verified9"></i>
							<p>Certified Trainers</p>
						</div>
						<div class="col-sm-3">
							<i class="flaticon-airconditioner"></i>
							<p>Fully Air-conditioned</p>
						</div>
						<div class="col-sm-3">
							<i class="flaticon-business133"></i>
							<p>Membership Available</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 primary-actions">
				<p><i class="flaticon-rupee1">850 per month</i></p>
				<a href="#" class="primary-btn main-btn">Contact Gym</a>
				<a href="#" class="inverse-ghost-btn"><i class="flaticon-heart296"></i>Add to Favourites</a>
			</div>
		</div>
	</article>

	<article style="background: #f5f5f5;">
		<div class="container listing-info">
			<div class="photo-grid clearfix">
				<h2>Gallery</h2>
				<div class="upper-grid clearfix">
					<div class="col-md-6">
						<a href="#"><img id="photos"src="/static/img/1.jpg"></a>
					</div>
					<div class="col-md-6">
						<a href="#"><img id="photos"src="/static/img/2.jpg"></a>
					</div>	
				</div>

				<div class="lower-grid clearfix">
					<div class="col-sm-4">
						<a href="#"><img src="/static/img/3.jpg"></a>
					</div>
					<div class="col-sm-4">
						<a href="#"><img src="/static/img/4.jpg"></a>
					</div>
					<div class="col-sm-4">
						<a href="#"><img src="/static/img/1.jpg"></a>
					</div>
				</div>
			</div>
		</div>
	</article>

</body>
</html>
