<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zubio - Discover Gyms and Fitness centers around you</title>
	
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/blueimp-gallery.min.css">
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/profile.css">
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="/static/css/icons.css">

	<script type="text/javascript" src="/static/js/blueimp-gallery.min.js"></script>
</head>
<body>
	<nav>
		<div class="container clearfix">
			<a id="logo" href="#"><img src="/static/img/zubio-logo.png" style="width: 80px"></a>
			<a class="primary-btn nav-action-btn" title="Sign In">Sign In</a>
			<form method="GET" action="/search" autocomplete="off" class="clearfix search-bar">
				<i class="flaticon-search74"></i>
				<input type="text" name="query" placeholder="Search for fitness centers">
			</form>
		</div>
	</nav>

	<div class="profile-banner" style="background-image: url(/static/img/gym4.jpg);"></div>
	
	<div id="blueimp-gallery" class="blueimp-gallery">
	    <div class="slides"></div>
	    <h3 class="title"></h3>
	    <a class="prev">‹</a>
	    <a class="next">›</a>
	    <a class="close">×</a>
	    <a class="play-pause"></a>
	    <ol class="indicator"></ol>
	</div>

	<article class="profile-header">
		<div class="container">
			<div class="col-md-9 col-sm-8">
				<div class="profile-icon">
					<i class="flaticon-dumbbell21"></i>	
				</div>
				<div class="profile-summary">
					<h1>GOLD Unisex Gym</h1>
					<p><a title="Address" href="#">65, Le Cafe Restaurant and Gym, Near French Colony, Mission Street, Pondicherry.</a></p>
					<div class="user-favs">
						<h4>People who Favourited this</h4>
						<a href="#" style=""></a>
						<a href="#" style=""></a>
						<a href="#" style=""></a>
						<a href="#" style=""></a>
						<a href="#" style=""></a>
						<a href="#" style=""></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 primary-actions">
				<p><i class="flaticon-rupee1">850 per month</i></p>
				<a href="#" class="primary-btn main-btn">Contact Gym</a>
				<a href="#" class="inverse-ghost-btn"><i class="flaticon-heart296"></i>Add to Favourites</a>
			</div>
		</div>
	</article>

	<article class="light profile-info">
		<div class="container clearfix">		
			<div class="col-md-9">
				<div class="overview-box clearfix">
					<div class="col-sm-3">
						<i class="flaticon-event7"></i>
						<p>Open on All Days</p>
					</div>
					<div class="col-sm-3">
						<i class="flaticon-verified9"></i>
						<p>Certified Trainers</p>
					</div>
					<div class="col-sm-3">
						<i class="flaticon-airconditioner"></i>
						<p>Fully Air-conditioned</p>
					</div>
					<div class="col-sm-3">
						<i class="flaticon-business133"></i>
						<p>Membership Available</p>
					</div>
				</div>

				<div id="links" class="fitness-gallery clearfix">
					<h2>Gallery</h2>
					<a class="wid-2" href="/static/img/gym.jpg" style="background:url('/static/img/gym.jpg')">
					</a>
					<a class="wid-2" href="/static/img/gym2.jpg" style="background:url('/static/img/gym2.jpg')">
					</a>
					<a class="wid-3" href="/static/img/gym3.jpg" style="background:url('/static/img/gym3.jpg')">
					</a>
					<a class="wid-3" href="/static/img/gym4.jpg" style="background:url('/static/img/gym4.jpg')">
					</a>
					<a class="wid-3" href="/static/img/gym5.jpg" style="background:url('/static/img/gym5.jpg')">
					</a>
					<a class="no-show" href="/static/img/me.jpg">
					</a>
					<a class="no-show" href="/static/img/gym4.jpg">
					</a>
					<a class="no-show" href="/static/img/gym5.jpg">
					</a>
				</div>
				
				<div class="detail-info clearfix">
					<div class="col-md-3">
						<h4>Facilities</h4>	
					</div>
					
					<div class="col-md-9">
						<div class="col-md-6 detail">
							<p>Parking Space</p>
							<p>Free Wi-Fi</p>
						</div>
						<div class="col-md-6 detail">
							<p>Lockers Available</p>
							<p>Personal Trainer</p>
						</div>
					</div>
				</div>

				<div class="detail-info clearfix">
					<div class="col-md-3">
						<h4>Timings</h4>	
					</div>
					
					<div class="col-md-9">
						<div class="col-md-6 detail">
							<p>Mon-Fri: <span>8 am - 8 pm</span></p>
						</div>
						<div class="col-md-6 detail">
							<p>Sun: <span>10 am - 2 pm</span></p>
						</div>
					</div>
				</div>

				<div class="detail-info clearfix">
					<div class="col-md-3">
						<h4>Pricing</h4>	
					</div>
					
					<div class="col-md-9">
						<div class="col-md-6 detail">
							<p>Monthly: <i class="flaticon-rupee1"></i>1800</p>
							<p>Quarterly: <i class="flaticon-rupee1"></i>1800</p>
						</div>
						<div class="col-md-6 detail">
							<p>Half-yearly: <i class="flaticon-rupee1"></i>1800</p>
							<p>Yearly: <i class="flaticon-rupee1"></i>1800</p>
						</div>
					</div>
				</div>

				<div class="detail-info clearfix">
					<div class="col-md-3">
						<h4>Description</h4>	
					</div>
					
					<div class="col-md-9">
						<div class="detail">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, sit, quod. Rem, ut dolor animi commodi suscipit pariatur vel ipsam.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, sit, quod. Rem, ut dolor animi commodi suscipit pariatur vel ipsam.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</article>

	<article class="profile-info">
		<div class="container clearfix">
			<div class="col-md-9">
				<a href="#" class="review-btn">Write a Review</a>
				<form class="review-form clearfix">
					<h4>Write a review</h4>
					<div class="col-md-2">
						<a href="#" class="review-author" style="background-image: url(/static/img/gym4.jpg);"></a>
					</div>
					<div class="col-md-10">
						<textarea>Love the Gym. Good equipment, hot trainers.</textarea>
						<input type="submit" value="POST">	
					</div>
				</form>
			</div>
			<div class="col-md-3"></div>

			<div class="col-md-9">
				<h2>Reviews</h2>
				<div class="review clearfix">
					<div class="col-md-2">
						<a href="#" class="review-author" style="background-image: url(/static/img/me.jpg);"></a>
						<a href="#">Zubian</a>
					</div>
					<div class="col-md-10">
						<p>My wife and I planned on staying at the Treehouse for 3 nights as part of our honeymoon adventure. When we arrived we were in complete awe. The structure and forest are purely magical. The hot tub was amazing, the shower refreshing, and I felt good being cradled in the swaying trees at night. Unfortunately, we had to leave after one night when my father fell ill and passed away. Gail was so compassionate and accommodating. We will certainly be returning to complete our honeymoon. I do wish, however, that we were able to give the housekeeper, Rose, proper gratuity. We left in such haste that we could not give her what we had planned. Next time we will tip doubly as this place is so well kept, we want to make sure to reciprocate with graciousness.</p>
						<span>March 20</span>
						<div class="response clearfix">
							<div class="col-md-2">
								<a href="#" class="review-author" style="background-image: url(/static/img/me.jpg);"></a>
								<a href="#">Zubian</a>
							</div>
							<div class="col-md-10">
								<p>This is good. I mean this is GOOOD!!</p>
								<span>March 20</span>
							</div>	
						</div>
					</div>
				</div>

				<div class="review clearfix">
					<div class="col-md-2">
						<a href="#" class="review-author" style="background-image: url(/static/img/gym4.jpg);"></a>
						<a href="#">Chirag</a>
					</div>
					<div class="col-md-10">
						<p>This is good. I mean this is GOOOD!!</p>
						<span>March 20</span>
					</div>
				</div>
			</div>
		</div>
	</article>
	<script>
		document.getElementById('links').onclick = function (event) {
		    event = event || window.event;
		    var target = event.target || event.srcElement,
		        link = target.src ? target.parentNode : target,
		        options = {index: link, event: event},
		        links = this.getElementsByTagName('a');
		    blueimp.Gallery(links, options);
		};
	</script>
</body>
</html>
