<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trainer Profile</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/trainer-profile.css">
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="/static/css/icons.css">
</head>
<body>
	
	<nav>
		<div class="container">
			<a href="#"><img src="/static/img/zubio-logo.png" style="width: 80px"></a>
			<a class="primary-btn nav-action-btn" title="Sign in" onclick="openModal('login-modal')">Sign In</a>
		</div>
	</nav>

	<article class="trainer-header">
		<div class="trainer container">
			<a href="#" class="trainer-img" style="background-image: url(/static/img/me.jpg);"></a>
			<h1>Dara Singh</h1>
			<p>Freelance Trainer</p>
			<p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ab, voluptates, saepe sit vitae a velit earum quasi amet ipsa similique. Deleniti maxime cupiditate enime!</p>
			<p class="skills">
				<span>Yoga</span>
				<span>Gym</span>
				<span>Freestyle</span>
				<span>Kick boxing</span>
				<span>Lose your weight</span>
				<span>Boxing</span>
				<span>Mix Martial Arts</span>
				<span>Stretching</span>
			</p>
			
			<div class="user-action">
				<a href="#">Message</a>
				<a class="dark" href="#">Follow</a>
			</div>

		</div>
	</article>

</body>
</html>