<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Zubio - Second hand Market</title>
	
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="/static/css/icons.css">
	<base href="/">
</head>
<body>
	<header>
		<div class="wrapper clearfix">
			<img src="/static/img/zubio-logo.png" title="Zubio" width="90">
			<nav>
				<a href="#">Explore</a>
				<a href="#">How it works</a>
			</nav>

			<div class="header-options">
				<div class="search-field">
					<i class="flaticon-magnifying47"></i>
					<input type="text" name="" value="" placeholder="Search for product, category or a seller...">
				</div>
				<div class="btn-ghost btn-login">
					<a href="#">LOGIN</a>
				</div>
			</div>
		</div>
	</header>
	
	<section class="container clearfix">
		<article class=" featured-section">
			<div class="col-md-3">
				<div class="product">
					<a href="#" class="product-image" style="background-image: url(/static/img/ip.jpg)"></a>
					<div class="product-desc">
						<h3><a href="#" title="Dynamic">Brand New iPhone 5S</a></h3>
						<p class="green-color"><span>Price: </span><i class="flaticon-rupee1"></i>25000</p>
					</div>
					<div class="product-foot clearfix">
						<div class="col-xs-6"><i class="flaticon-location76"></i>Vellore</div>
						<div class="col-xs-6"><i class="flaticon-eye106"></i>4580</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product">
					<a href="#" class="product-image" style="background-image: url(/static/img/ma.jpg)"></a>
					<div class="product-desc">
						<h3><a href="#" title="Dynamic">Brand New iPhone 5S</a></h3>
						<p class="green-color"><span>Price: </span><i class="flaticon-rupee1"></i>25000</p>
					</div>
					<div class="product-foot clearfix">
						<div class="col-xs-6"><i class="flaticon-location76"></i>Vellore</div>
						<div class="col-xs-6"><i class="flaticon-eye106"></i>4580</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product">
					<a href="#" class="product-image" style="background-image: url(/static/img/ipad.png)"></a>
					<div class="product-desc">
						<h3><a href="#" title="Dynamic">Brand New iPhone 5S</a></h3>
						<p class="green-color"><span>Price: </span><i class="flaticon-rupee1"></i>25000</p>
					</div>
					<div class="product-foot clearfix">
						<div class="col-xs-6"><i class="flaticon-location76"></i>Vellore</div>
						<div class="col-xs-6"><i class="flaticon-eye106"></i>4580</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product">
					<a href="#" class="product-image" style="background-image: url(/static/img/ma.jpg)"></a>
					<div class="product-desc">
						<h3><a href="#" title="Dynamic">Brand New iPhone 5S</a></h3>
						<p class="green-color"><span>Price: </span><i class="flaticon-rupee1"></i>25000</p>
					</div>
					<div class="product-foot clearfix">
						<div class="col-xs-6"><i class="flaticon-location76"></i>Vellore</div>
						<div class="col-xs-6"><i class="flaticon-eye106"></i>4580</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product">
					<a href="#" class="product-image" style="background-image: url(/static/img/ip.jpg)"></a>
					<div class="product-desc">
						<h3><a href="#" title="Dynamic">Brand New iPhone 5S</a></h3>
						<p class="green-color"><span>Price: </span><i class="flaticon-rupee1"></i>25000</p>
					</div>
					<div class="product-foot clearfix">
						<div class="col-xs-6"><i class="flaticon-location76"></i>Vellore</div>
						<div class="col-xs-6"><i class="flaticon-eye106"></i>4580</div>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="product">
					<a href="#" class="product-image" style="background-image: url(/static/img/ip.jpg)"></a>
					<div class="product-desc">
						<h3><a href="#" title="Dynamic">Brand New iPhone 5S</a></h3>
						<p class="green-color"><span>Price: </span><i class="flaticon-rupee1"></i>25000</p>
					</div>
					<div class="product-foot clearfix">
						<div class="col-xs-6"><i class="flaticon-location76"></i>Vellore</div>
						<div class="col-xs-6"><i class="flaticon-eye106"></i>4580</div>
					</div>
				</div>
			</div>
		</article>

	</section>

	<article class="left-col"></article>
	<article class="right-col"></article>

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/custom.js"></script>
</body>
</html>