@font-face {
	font-family: "/static/fonts/Flaticon";
	src: url("/static/fonts/flaticon.eot");
	src: url("/static/fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("/static/fonts/flaticon.woff") format("woff"),
	url("/static/fonts/flaticon.ttf") format("truetype"),
	url("/static/fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-add121:before {
	content: "\e000";
}
.flaticon-add186:before {
	content: "\e001";
}
.flaticon-approve9:before {
	content: "\e002";
}
.flaticon-attach5:before {
	content: "\e003";
}
.flaticon-attach8:before {
	content: "\e004";
}
.flaticon-back28:before {
	content: "\e005";
}
.flaticon-bakery10:before {
	content: "\e006";
}
.flaticon-barbell:before {
	content: "\e007";
}
.flaticon-beach13:before {
	content: "\e008";
}
.flaticon-bell46:before {
	content: "\e009";
}
.flaticon-biceps:before {
	content: "\e00a";
}
.flaticon-big104:before {
	content: "\e00b";
}
.flaticon-browser71:before {
	content: "\e00c";
}
.flaticon-business164:before {
	content: "\e00d";
}
.flaticon-business64:before {
	content: "\e00e";
}
.flaticon-buy7:before {
	content: "\e00f";
}
.flaticon-chat45:before {
	content: "\e010";
}
.flaticon-chat48:before {
	content: "\e011";
}
.flaticon-checkmark12:before {
	content: "\e012";
}
.flaticon-chevron13:before {
	content: "\e013";
}
.flaticon-chicken3:before {
	content: "\e014";
}
.flaticon-circular220:before {
	content: "\e015";
}
.flaticon-clockwise1:before {
	content: "\e016";
}
.flaticon-close33:before {
	content: "\e017";
}
.flaticon-close47:before {
	content: "\e018";
}
.flaticon-compass75:before {
	content: "\e019";
}
.flaticon-configuration12:before {
	content: "\e01a";
}
.flaticon-correct:before {
	content: "\e01b";
}
.flaticon-create2:before {
	content: "\e01c";
}
.flaticon-cutlery23:before {
	content: "\e01d";
}
.flaticon-dumbbell21:before {
	content: "\e01e";
}
.flaticon-earth208:before {
	content: "\e01f";
}
.flaticon-email103:before {
	content: "\e020";
}
.flaticon-exclamation22:before {
	content: "\e021";
}
.flaticon-eye109:before {
	content: "\e022";
}
.flaticon-facebook29:before {
	content: "\e023";
}
.flaticon-facebook55:before {
	content: "\e024";
}
.flaticon-favorite21:before {
	content: "\e025";
}
.flaticon-floating1:before {
	content: "\e026";
}
.flaticon-google2:before {
	content: "\e027";
}
.flaticon-google42:before {
	content: "\e028";
}
.flaticon-guru:before {
	content: "\e029";
}
.flaticon-guru1:before {
	content: "\e02a";
}
.flaticon-gym16:before {
	content: "\e02b";
}
.flaticon-hamburger11:before {
	content: "\e02c";
}
.flaticon-heart27:before {
	content: "\e02d";
}
.flaticon-heart296:before {
	content: "\e02e";
}
.flaticon-instagram12:before {
	content: "\e02f";
}
.flaticon-keyboard54:before {
	content: "\e030";
}
.flaticon-left222:before {
	content: "\e031";
}
.flaticon-leg5:before {
	content: "\e032";
}
.flaticon-like3:before {
	content: "\e033";
}
.flaticon-like47:before {
	content: "\e034";
}
.flaticon-location46:before {
	content: "\e035";
}
.flaticon-locked59:before {
	content: "\e036";
}
.flaticon-magnifying47:before {
	content: "\e037";
}
.flaticon-male18:before {
	content: "\e038";
}
.flaticon-man416:before {
	content: "\e039";
}
.flaticon-menu33:before {
	content: "\e03a";
}
.flaticon-mode:before {
	content: "\e03b";
}
.flaticon-notification5:before {
	content: "\e03c";
}
.flaticon-pharmacy3:before {
	content: "\e03d";
}
.flaticon-pie-chart4:before {
	content: "\e03e";
}
.flaticon-pie53:before {
	content: "\e03f";
}
.flaticon-pinterest11:before {
	content: "\e040";
}
.flaticon-placeholder14:before {
	content: "\e041";
}
.flaticon-price14:before {
	content: "\e042";
}
.flaticon-regular2:before {
	content: "\e043";
}
.flaticon-right11:before {
	content: "\e044";
}
.flaticon-right127:before {
	content: "\e045";
}
.flaticon-rupee1:before {
	content: "\e046";
}
.flaticon-search67:before {
	content: "\e047";
}
.flaticon-search74:before {
	content: "\e048";
}
.flaticon-send4:before {
	content: "\e049";
}
.flaticon-settings56:before {
	content: "\e04a";
}
.flaticon-share11:before {
	content: "\e04b";
}
.flaticon-share27:before {
	content: "\e04c";
}
.flaticon-sport11:before {
	content: "\e04d";
}
.flaticon-stopwatch7:before {
	content: "\e04e";
}
.flaticon-swimming20:before {
	content: "\e04f";
}
.flaticon-phone16:before {
	content: "\e050";
}
.flaticon-turkey-leg1:before {
	content: "\e051";
}
.flaticon-twitter1:before {
	content: "\e052";
}
.flaticon-update22:before {
	content: "\e053";
}
.flaticon-update23:before {
	content: "\e054";
}
.flaticon-user139:before {
	content: "\e055";
}
.flaticon-verified9:before {
	content: "\e056";
}
.flaticon-walking17:before {
	content: "\e057";
}
.flaticon-warning12:before {
	content: "\e058";
}
.flaticon-weightlift:before {
	content: "\e059";
}
.flaticon-weightlifting4:before {
	content: "\e05a";
}
.flaticon-woman104:before {
	content: "\e05b";
}
.flaticon-yoga12:before {
	content: "\e05c";
}
