html{
	-webkit-font-smoothing:antialiased;
}

body{
	font-family: "latoregular";
	margin-top: 80px;
	background: #f7f5ee;
}

.container{
	max-width: 1000px;
	padding: 10px;
}

/* ==== Colors ==== */

.river-blue{
	background: #3498DB;
}

.green-color{
	color: #22B356;
}

.wrapper{
	max-width: 1380px;
	margin: 0 auto;
}

section.wrapper{
	padding: 0 15px;
}

header{
	height: 60px;
	border-bottom: 1px solid #ddd;
	padding: 5px 20px;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
}

header img{
	margin-top: 1px;
	float: left;
}

nav{
	float: left;
	display: inline-block;
	padding: 15px 0 15px 20px;
}

nav a{
	color: #666;
	text-decoration: none;
	outline: none;
	margin: 0 10px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	display: inline-block;
}

nav a:hover, nav a:focus{
	text-decoration: none;
	color: #e74c3c;
}

.header-options{
	float: right;
	width: 100%;
	max-width: 550px;
}

.search-field{
	position: absolute;
	top: 0;
	height: 60px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	outline: none;
}

.search-field i:before{
	color: #777;
	font-size: 18px;
	position: relative;
	top: 2px;
}

.search-field input{
	font-size: 16px;
	border: none;
	outline: none;
	width: 400px;
	height: 59px;
	letter-spacing: 0.01em;
	padding-left: 10px;
	z-index: 11;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.red-border{
	border-bottom: 1px solid #e74c3c;
}


.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.btn-ghost{
	border: 1px solid #1abc9c;
	border-radius: 999em;
	padding: 6px 15px;
	height: 34px;
}