html{
	-webkit-font-smoothing:antialiased;
}

body{
	font-family: "latoregular";
	font-size: 16px;
}

nav{
	background: transparent;
	padding: 12px 0;
	width: 100%;
	height: 60px;
}

nav .container{
	width: 100%;
	padding: 0 20px;
}

.underline{
	border-bottom: 1px solid #fff;
}

a, a:hover, a:focus{
	text-decoration: none;
	outline: none;
}

.primary-btn{
	padding: 4px 14px;
	height: 32px;
	display: inline-block;
	border-radius: 2px;
  	border-bottom: 1px solid #e00007;
  	background-color: #ff5a5f;
	border: none;
	cursor: pointer;
	color: #fefefe;
	font-size: 16px;
	outline: none;
	margin: 5px auto;
	text-align: center;
}

.primary-btn:hover, .primary-btn:focus{
	color: #fff;
}

.main-btn{
	background: #4a89dc;
	padding: 8px 20px;
	height: 38px;
	min-width: 200px;
	font-size: 16px;
	font-family: "montserratregular";
	border-bottom: 1px solid #2980b9;

}

.nav-action-btn{
	float: right;
}

.ghost-btn{
	cursor: pointer;
	outline: none;
	color: #eee;
	background: none;
	font-size: 16px;
	padding: 4px 14px;
	border: 1px solid #ccc;
	border-radius: 1px;
	height: 34px;
	transition: all .1s ease;
}

.ghost-btn:hover, .ghost-btn:focus{
	color: #fff;
	background: rgba(0,0,0,0.1);
	border-color: #fff;
	text-decoration: none;
	outline: none;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.login-overlay{
	position: absolute;
}

.inverse-ghost-btn{
	outline: none;
	display: inline-block;
	text-align: center;
	padding: 8px 20px;
	height: 38px;
	min-width: 200px;
	margin: 5px auto;
	font-size: 16px;
	font-family: "montserratregular";
	color: #ff5a5f;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 1px;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
}

.grey-color{
	color: #777;
}

.light{
	background: #f5f5f5;
}

.inverse-ghost-btn i{
	margin: 0 10px 0 5px;
}

.inverse-ghost-btn:hover, .inverse-ghost-btn:focus{
	color: #c0392b;
} 

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(0,0,0,0.75);
}