nav{
	background: #fff;
	height: 48px;
	padding: 2px 0;
	border-bottom: 1px solid #eee;
}

.profile-banner{
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ccc;
	height: 500px;
}

.profile-header{
	padding: 10px;
}

.profile-header h1{
	font-size: 24px;
	letter-spacing: 0.01em;
	margin-bottom: 8px;
	color: #565A5C; 
}

.profile-header a{
	font-size: 14px;
}

.profile-header h2{
	letter-spacing: 0.01em;
	font-family: "muliregular";
	margin: 0 auto;
	font-size: 16px;
}

.profile-header h2 a{
	color: #777;
	font-size: 16px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.profile-header h2 a:hover, .profile-header h2 a:focus{
	color: #444;
}

.profile-icon{
	float: left;
	font-size: 50px;
	background: #aaa;
	margin: 15px 0;
	color: #fafafa;
	padding: 6px;
	width: 80px;
	height: 80px;
	border-radius: 4px;
	text-align: center;
}

.profile-summary{
	float: left;
	padding-left: 20px;
}

