nav{
	background: #fff;
	height: 48px;
	padding: 2px 0;
	border-bottom: 1px solid #eee;
}

.profile-banner{
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #ccc;
	height: 500px;
}

.profile-header{
	background: #fff;
}

.profile-header .container, .profile-info .container{
	max-width: 1000px;
}

.profile-header h1{
	font-size: 24px;
	letter-spacing: 0.01em;
	margin-bottom: 5px;
	color: #565A5C; 
}

h2{
	font-family: "montserratregular";
	color: #82888a;
	font-size: 18px;
}

.profile-header a{
	font-size: 14px;
}

.profile-header p{
	letter-spacing: 0.002em;
	font-family: "muliregular";
	margin: 0;
	font-size: 14px;
	line-height: 19px;
	max-width: 480px;
}

.profile-header p a{
	color: #777;
	font-size: 14px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.profile-header p a:hover, .profile-header p a:focus{
	color: #444;
}

.profile-icon{
	float: left;
	font-size: 52px;
	background: #013435;
	margin: 15px 0;
	color: #fafafa;
	padding: 20px 0;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	text-align: center;
}

.profile-summary{
	float: left;
	padding-left: 40px;
	width: calc(100% - 110px);
}

.primary-actions{
	padding: 25px 5px;
	text-align: center;
}

.primary-actions p{
	font-size: 16px;
	padding: 4px 0 4px 0; 
}

.profile-info{
	padding: 25px 10px;
}

.overview-box{
	border-radius: 3px;
	border: 1px solid #fafafa;
	margin: 10px auto;
	padding: 25px;
	color: #888;
	background: #fff;
}

.overview-box p{
	font-size: 13px;
	margin-top: 3px;
	line-height: 17px;
}

.overview-box i{
	font-size: 26px;
	color: #777;
}

.overview-box div{
	border-right: 1px solid #eee; 
	text-align: center;
}

.overview-box div:last-child{
	border-right: none;
}

.user-favs{
	margin-top: 6px;
}

.user-favs a{
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-right: 2px;
	background: #ccc;
	border-radius: 4px;
	background-position: center center;
	background-size: cover;
}

.user-favs h4{
	font-family: "montserratregular";
	color: #888;
	font-size: 14px;
	margin-bottom: 3px;
}

.user-favs span{
	position: relative;
	top: -9px;
	left: 2px;
	font-style: italic;
	color: #888;
}

.detail-info{
	margin: 10px auto;
	color: #565a5c;
	border-bottom: 1px solid #dce0e0; 
	padding: 5px;
}

.detail-info:last-child{
	border-bottom: 0;
}

.detail-info h4{
	color: #82888a;
	font-size: 16px;
}

.detail{
	font-size: 14px;
	padding: 10px;
}

.detail i{
	margin-left: 4px;
	color: #565a5c;
}

.detail span{
	margin-left: 4px;
}

.user-review{
	padding: 25px 10px;
}

.review-btn{
	padding: 10px;
	text-align: center;
	background: #3498db;
	width: 100%;
	letter-spacing: 0.03em;
	border-radius: 3px;
	border-bottom: 2px solid #2980b9;
	display: block;
	font-family: "montserratregular";
	margin: 20px auto;
	color: #fff;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.review-btn:hover, .review-btn:focus{
	background: #2980b9;
	color: #fff;
}

.review{
	padding: 15px 0;
	margin: 20px 0;
}

.review a.review-author{
	margin-bottom: 10px;
	border-radius: 50%;
	width: 72px;
	height: 72px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;  
}

.review a{
	display: block;
	text-align: center;
	margin: 0 auto;
	color: #82888a;
	font-family: "montserratregular";
	font-size: 14px;
	overflow: hidden;
}

.review div.col-md-10{
	min-height: 124px;
	position: relative;
	border-bottom: 1px solid #f0f0f0;
	color: #444;
}

.review span{
	width: 100%;
	display: block;
	text-align: left;
	margin: 10px 0;
	color: #bbb;
	font-size: 14px;
	padding: 10px 0;
}

.review .response div.col-md-10{
	min-height: 82px;
	border: 0;
	padding-bottom: 20px;
}

.review .response a.review-author{
	width: 40px;
	height: 40px;
}

.review .response a{
	font-size: 12px;
}















